@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400x;
  font-style: normal;
}

/* shared styles */
.display-flexbox{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    width: 180px;
    height: 65px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
/* dark1 */
    .text-dark1{
        color: #131313;
    }
/* dark2 */
    .text-dark2{
        color: #424242;
    }
    .fact-number{
        color: #424242;
    }
/* dark3 */
    .text-dark3, .sponsors-description{
        color: #727272;
    }
    .banner-description{
        color: #727272;
    }
    .fact-name{
        color: #727272;
    }
    .some-facts-description{
        color: #727272;
    }

/* header styles */

/* navbar styles */
.navbar{
    justify-content:space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px; 
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.banner-image{
    width: 1440px;
    height: 700px;
}

/* Image and our features style */

.teams{
    display: flex;
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 80px;
    max-width: 537px;
}

.our-features-title{
    font-size: 2.8rem;
}
#first-title{
    font-weight: 500;
}
#second-title{
    font-weight: bold;
}
#third-title{
    color: rgba(255, 144, 14, 1);
    font-weight: bold;
}
.our-features-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.4rem;
    font-weight: 600;
}
.some-facts-title, .sponsors-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.some-facts-description{
    font-size: 1rem;
    font-weight: 400;
    width: 540px;
    margin-bottom: 100px;
}

/* sponsors related style */
.sponsors-info{
    width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-description{
    font-size: 1rem;
    font-weight: 400;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img{
    filter: grayscale(100%);
}
/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
    flex-direction: column;
    }
    .team-image-container, .fact-container, .sponsors-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .some-facts-description{
        width: 410px;
    }
    .our-features{
        margin-left: 10px;
    }
    .banner-image{
        width: 396px;
        height: 250px;
    }
    .banner-content{
        width: 410px;
    }
    .sponsors-info{
        width: 412px;
    }
    .sponsors-company{
        justify-items: center;
        gap: 60px;
    }
}